@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  section{
    @apply flex flex-col lg:flex-row items-center justify-evenly w-full min-h-screen mt-32 md:mt-96 md:ml-0 lg:m-auto;
  }
  h2{
    @apply text-4xl md:text-6xl
  }
  h3{
    @apply text-2xl md:text-3xl
  }

  .swiper-slide{
    @apply h-auto
  }

  :root {
    --swiper-navigation-size: 120px;
    --swiper-pagination-color: #ec13e8;

    --text-50: #0a0712;
    --text-100: #140e25;
    --text-200: #281c4a;
    --text-300: #3c2a6f;
    --text-400: #513894;
    --text-500: #6546b9;
    --text-600: #846bc7;
    --text-700: #a290d5;
    --text-800: #c1b5e3;
    --text-900: #e0daf1;
    --text-950: #f0edf8;
    
    --background-50: #0a0712;
    --background-100: #140e25;
    --background-200: #281d49;
    --background-300: #3c2b6e;
    --background-400: #503993;
    --background-500: #6347b8;
    --background-600: #836cc6;
    --background-700: #a291d4;
    --background-800: #c1b6e2;
    --background-900: #e0daf1;
    --background-950: #efedf8;
    
    --primary-50: #06001a;
    --primary-100: #0d0033;
    --primary-200: #1a0066;
    --primary-300: #260099;
    --primary-400: #3300cc;
    --primary-500: #4000ff;
    --primary-600: #6633ff;
    --primary-700: #8c66ff;
    --primary-800: #b399ff;
    --primary-900: #d9ccff;
    --primary-950: #ece5ff;
    
    --secondary-50: #110514;
    --secondary-100: #220b28;
    --secondary-200: #451551;
    --secondary-300: #672079;
    --secondary-400: #892ba1;
    --secondary-500: #ac36c9;
    --secondary-600: #bc5ed4;
    --secondary-700: #cd86df;
    --secondary-800: #deaeea;
    --secondary-900: #eed7f4;
    --secondary-950: #f7ebfa;
    
    --accent-50: #180217;
    --accent-100: #2f042e;
    --accent-200: #5e085d;
    --accent-300: #8e0b8b;
    --accent-400: #bd0fba;
    --accent-500: #ec13e8;
    --accent-600: #f042ed;
    --accent-700: #f471f1;
    --accent-800: #f7a1f6;
    --accent-900: #fbd0fa;
    --accent-950: #fde7fd;
    
  }
}

body {
  color: var(--text-950);
  background: var(--background-100)
}

